
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Book</title>
</head>
<body style="background-image:url('book.jpeg'); background-size: cover; background-position: center 100px;background-repeat: no-repeat; paddling-top: 100px;">
<div style="text-align: center;">
<h1 align="center">  Update A Book </h1> 

    <div th:if="${errorMessage}" style="color: white; background-color: rgba(255, 0, 0, 0.7); padding: 10px; border-radius: 5px; font-weight: bold; margin-bottom: 20px; display: inline-block;">
        <span th:text="${errorMessage}"></span>
   </div>          
<form th:action="@{/update}" method="post"}>
<input type="number" name="bookID" id="bookID" placeholder="Book ID" required>
<input type="text" name="title" id="bookName" placeholder="Book Name" required>
<input type="text" name="author" id="Author" placeholder="Author" required>
<label for="category">Category:</label>
<select id="category" name="category" required>
    <option value="" disabled selected> Select a category for your book</option>
    <option value="FICTION">Fiction</option>
    <option value="NON_FICTION">NON_FICTION</option> 
    <option value="SCIENCE">SCIENCE</option>
    <option value="BIOGRAPHY">BOIGRAPHY</option>
    <option value="BIOLOGY">BIOLOGY</option>
    <option value="CHEMISTRY">CHEMISTRY</option>
    <option value="UNKNOWN">UNKNOWN</option>
    <option value="HISTORY">HISTORY</option>
    <option value="ANATOMY">ANATOMY</option>
</select>
<input type="text" name="isAvailable" id="IsAvailable" placeholder="IsAvailable true/false" required>
<button type="submit">Save</button>
</form>
</div>
</body>
</html>