
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">
    .glass-panel {
    background: rgba(255, 255, 255, 0.8); /* 0.8 is the opacity (0 to 1) */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* This blurs the library image behind the box */
    max-width: 600px;
    margin: 40px auto; /* Centers the box */
    text-align: center;
}
    span{
    color: blue; font-family:Arial; font-weight: bold;
    }
</style>
<title>Insert title here</title>
</head>
<body style="background-image:url('libimg.jpg'); background-size: cover; background-position: center 100px;background-repeat: no-repeat; paddling-top: 100px;">
<div class="glass-panel" style="text-align: center;">
<h1 align="center"> WELCOME TO YOUR LIBRARY</h1>
<a th:href="@{/addBook}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ Add New Book</a><br>
<a th:href="@{/updateBook}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ Update Book</a><br>
<a th:href="@{/delete}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ Delete Book By ID</a><br>            
<a th:href="@{/viewAllBooks}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ View All Books</a><br>  
<a th:href="@{/registerNewMember}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ Register A New Member</a><br> 
<a th:href="@{/viewBorrowedBooks}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ view Borrowed Books With All Details</a><br> 
<a th:href="@{/viewBorrowed}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ view Borrowed Books Without Details</a><br> 
<a th:href="@{/viewAllMembers}" class="menu-link" style="font-size:50px; text-decoration: none;"> @ View All Members</a><br>          
</div>
</body>
</html>